header h2 {
    background: url("bg.jpeg") no-repeat;
    background-size: cover;
}

.root {
    font-size: larger;
}

img.main-image {
    width: 300px;
}

img.additional-image {
    width: 180px;
}


